/* .home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
} */


.homePageMainCont{
    height: calc(100vh - 125px);
    font-family: var(--font-mono);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.homePageMainCont h1{
    margin: 0;
    font-size: 10rem;
    font-weight: 700 !important;
    color: white;
    letter-spacing: -8px;

}
.homePageMainCont h1 span{
    color: var(--accentColor);
}
.homePageMainCont p{
    margin: 0;
    font-size: 1.7rem;
    margin-top: 5px;
    color: var(--subcolor);
    font-style: italic;
}


.homePageMainCont button{
    border-radius: 8px;
    padding: 10px;
    padding-inline: 20px;
    color: white;
    margin-top: 25px;
    font-family: var(--font-mono);
    font-size: 2rem;
    font-weight: 300 !important;
    border: none;
    cursor: pointer;
    background: var(--accentColor);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    border: 1px solid rgba(255, 190, 88, 0.5); 
    transition: all 0.3s ease;
}

.homePageMainCont button:hover{
    background: var(--accentColorHover);
}