
.navbarCont{
    margin-block: 15px;
    
}
.navbar {
  display: flex;
  align-items: center;
  padding-inline: 15px;
  height: 75px;
  overflow: visible;

}
.navbar h1{
    font-size: 2.3rem ;
    font-family: var(--font-mono);
    letter-spacing: -2.5px;
    font-weight:100;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.logo img{
    height: 60px;
    width: auto;
}
.logo h1{
    font-size: 2.5rem ;
    color:white;

}


